{% extends 'layout.html' %}
{% block head1 %}
<title>about page</title>
{% endblock head1 %}
{% load static %}

{% block body1 %}

<div class="container-fluid">
  <div class="row ">
    <div class="container-fluid ">
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/event3.jpg' %}" class="d-block w-100" style="width: 100%;height: 50vh;" alt="...">
            <div class="carousel-caption  d-md-block">
                  <h1 style="text-shadow: 0px 0px 10px rgb(241, 10, 145);">Online Catering & Event Service</h1>
              <h1 style="text-shadow: 0px 0px 10px rgb(241, 10, 145);"></h1>
              
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/event2.jpg' %}"  style="width: 100%;height: 50vh;" class="d-block w-100" alt="...">
            <div class="carousel-caption  d-md-block">
                 <h1 style="color:yellow;text-shadow: 0px 0px 10px #f10a91;">Online Catering & Event Service</h1>
              <h1 style="color:yellow;text-shadow: 0px 0px 10px #f10a91;"></h1>
            
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/event.jpg' %}"  style="width: 100%;height: 50vh;" class="d-block w-100" alt="...">
            <div class="carousel-caption  d-md-block">
                  <h1 style="color:black;text-shadow: 0px 0px 10px rgb(241, 10, 145);">Online Catering & Event Service</h1>
              <h2 style="color:black;text-shadow: 0px 0px 10px rgb(241, 10, 145);"></h2>
              
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- complete image hover -->
    <div class="container-fluid">
  <div class="p-3 mb-2 bg-transparent text-black shadow my-5 text-center"><cite title="Source Title"><h1>This is Our Contact Page</h1><p>(If Any Query   call us: 9175474716)</p></cite></div>
<div class="p-1 mb-1 text-center">This is our web Profile</div>
<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
     <div class="card p-3 border bg-light">
      <figure class="figure abcd">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12904.298963376876!2d79.34424148094122!3d19.78642759279016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd2cd1a535b1cbd%3A0x4a5312095c57d822!2sRampur%2C%20Maharashtra%20442905!5e0!3m2!1sen!2sin!4v1626084705535!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <figcaption class="figure-caption text-end">this is our catress store location -9175474716</figcaption>
      </figure>
     </div>
    </div>
    <div class="col">
      <div class="card p-3 my-5 border bg-light">
        <figure class="figure abcd">
          <img src="{% static 'images/23.jpg' %}" class="figure-img img-fluid rounded" alt="..." >
          <figcaption class="figure-caption text-center"><h1>Employee of the year.</h1></figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3 my-3 border bg-light">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>" ...Productivity is never an accident. ...</p>
<p class="text-center">“A goal without a plan is just a wish.” ...</p>
<p class="text-end">"Some people look for a beautiful place. ...</p>
          <footer class="blockquote-footer"> <h1 style="color:black">Our Staff Details </h1> <cite title="Source Title"><h2 style="color:black;">Admin:-   Gaurav More & Vaibhav Tamgadge</h2> <h3>Manager:- Sam Jyoshi <br> Supervisor:- Kirti Chavhan<br> Captain:-sanam puri <br> Team leader:- Sunny Barbes <br> Chef:- Rany Daniel<br> Cook: Ram Teky & Shazam Sinha<br> <br> <span style="color:black;">waiter:-</span> <br> Sanjay Mishra <br> Sonu Sharma<br> Akash Seni <br> Puja Seni <br> Ardat Lili <br> Naina Dehi <br><br> <span style="color:black;">Contact Mail:- vaibhavclass90@gmail.com</span></h3> </cite></footer>
        </blockquote>
      </div>
     </div>
    </div>
   
  </div>
</div>
</div>

   
    <!-- close -->
  </div>
</div>
{% endblock body1 %}