{% extends 'layout.html' %}
{% load static %}
{% block body1 %}
<div class="container">
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade " id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">Change name</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <!-- this is for add event function -->
                        <div class="row">
                            <label for="" class="text-center">
                                <h3 class="my-5">Add the Function event</h3>
                            </label>
                            <div class="col-md-4 mx-auto ">
                                <form method="POST">{% csrf_token %}
                                    <div class="mb-3">
                                        <label for="" class="form-label">Event Name</label>

                                        <input type="text" class="form-control" name="sharukh"
                                            placeholder="write your function">
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <textarea class="form-control" name="bn"
                                                placeholder="Leave a imformation here" id="floatingTextarea2"
                                                style="height: 100px"></textarea>
                                            <label for="floatingTextarea2">Description</label>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                            <div class="col-md-6  mx-auto">
                                <div>
                                    <label for="">Check Your function</label>
                                    <select class="form-select form-select-lg mb-3 mx-auto"
                                        aria-label=".form-select-lg example">
                                        {% for d in data %}
                                        <option value="{{d.id}}">{{d|title}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>
                        <hr>
                        <!-- this is for CITY -->
                        <div class="row">
                            <label for="" class="text-center">
                                <h3 class="my-5">Add City Name</h3>
                            </label>
                            <div class="col-md-4 mx-auto ">
                                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="mb-3">
                                        <label class="form-label">Add Name Gallery</label>
                                        <input type="text" name="city" class="form-control">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                            <div class="col-md-6  mx-auto">
                                <div class="form-floating ">
                                    <select class="form-select" id="floatingSelect"
                                        aria-label="Floating label select example">
                                        {% for c in city %}
                                        <option value="{{c.id}}">{{c}}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="floatingSelect">Works with selects</label>
                                </div>


                            </div>
                        </div>
                        <hr>
                        <!-- this is for gallery -->
                        <div class="row">
                            <label for="" class="text-center">
                                <h3 class="my-5">Add Gallery Name</h3>
                            </label>
                            <div class="col-md-4 mx-auto ">
                                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="mb-3">
                                        <label class="form-label">Add Name Gallery</label>
                                        <input type="text" name="sw" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Add Event Gallery</label>
                                        <input type="file" name="pimg" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <textarea class="form-control" name="sw2"
                                                placeholder="Leave a imformation here" id="floatingTextarea2"
                                                style="height: 100px"></textarea>
                                            <label for="floatingTextarea2">Description</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                            <div class="col-md-6  mx-auto">
                                <div class="form-floating ">
                                    <select class="form-select" id="floatingSelect"
                                        aria-label="Floating label select example">
                                        {% for c in gallery %}
                                        <option value="{{c.id}}">{{c.cat_name}}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="floatingSelect">Works with selects</label>
                                </div>

                                <div data-spy="scroll" style="overflow-y: scroll; height:400px; position:relative;">
                                    <div class="row g-0 bg-light position-relative">

                                        {% for c in gallery %}
                                        <div class="col-md-6 mb-md-0 p-md-4">
                                            <img src="{{c.cover_pic.url}}" class="w-100 " alt="...">
                                        </div>
                                        <div class="col-md-6 p-4 ps-md-0">

                                            <h5 class="mt-0">{{forloop.counter}}). {{c.cat_name|title}}</h5>
                                            <p>{{c.description}}</p>
                                            {{c.added_on}}
                                            <a href="{% url 'delete_product'  %}?pid={{c.id}}"
                                                class="btn btn-danger link">Delete</a>
                                            <a href="{% url 'edit' %}?pid={{c.id}}" class="btn btn-warning">Edit</a>

                                        </div>
                                        <hr>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- kon si gallery me image add krni hia wo -->
                        <div class="row">
                            <label for="" class="text-center">
                                <h3 class="my-5">Add with Event Gallery</h3>
                            </label>

                            <div class="col-md-4 mx-auto ">
                                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                                    <div class="mb-3">
                                        <label class="form-label">Add Image</label>
                                        <input type="file" name="img" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Select group of gallery</label>
                                        <div class="form-floating ">
                                            <select class="form-select" id="floatingSelect" name="st1"
                                                aria-label="Floating label select example">
                                                {% for c in gallery %}
                                                <option value="{{c.id}}">{{c.cat_name}}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="floatingSelect">Upload with selects</label>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <textarea class="form-control" name="st2"
                                                placeholder="Leave a imformation here" id="floatingTextarea2"
                                                style="height: 100px"></textarea>
                                            <label for="floatingTextarea2">Add about the image</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                            <div class="col-md-6  mx-auto" id="scrollspy">
                                <div data-spy="scroll"  data-offset="0"
                                    style="overflow-y: scroll; height: 400px; position:relative;">
                                    {% for g in gallery_data %}
                                    <div class="row g-0 bg-light position-relative">
                                        <div class="col-md-6 mb-md-0 p-md-4">
                                            <img src="{{g.image.url}}" class="w-100" alt="...">
                                        </div>
                                        <div class="col-md-6 p-4 ps-md-0">

                                            <h5 class="mt-0">{{forloop.counter}}). {{g.thegallery.cat_name|title}}</h5>
                                            <p>{{g.detail}}</p>
                                            <p>{{c.added_on}}</p>
                                            <a href="{% url 'DeleteNote' %}?pid={{g.id}}"
                                                class="btn btn-danger link">Delete</a>
                                            <a href="{% url 'galleryedit' %}?pid={{g.id}}"
                                                class="btn btn-warning link">Edit</a>



                                        </div>
                                    </div>
                                    <hr>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- kon si gallery me image add krni hai wo -->

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <!-- this is for adding product-->
        <div class="row   ">
            <label for="" class="text-center">
                <h3 class="my-5">All Product </h3>
            </label>
            {% comment %} SDFDFDSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS {% endcomment %}
            <div class="col-md-4 mx-auto bg-light text-dark ">
                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Add Name of function</label>
                        <input type="text" name="name" class="form-control">
                    </div>
                    <div class="mb-3 ">
                        <div>
                            <label for="" class="form-label">Check Your function</label>
                            <select class="form-select form-select-lg mb-3 " name="select" class="form-control"
                                aria-label=".form-select-lg example">
                                {% for c in data1 %}
                                <option value="{{c.id}}">{{c|title}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"> Price</label>
                        <input type="number" name="price1" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Sell price</label>
                        <input type="number" name="price" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Image</label>
                        <input type="file" name="pimg" class="form-control">
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <textarea class="form-control" name="sw25" placeholder="Leave a imformation here"
                                id="floatingTextarea2" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Description</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-md-6 py-5 mx-auto">
            <h3 class="text-center">Total Product({{function_data|length}})</h3>
                <div data-spy="scroll" style="overflow-y: scroll; height:300px; width:auto; position:relative; ">
                    <div class="row g-0 bg-light position-relative">
                        {% for c in function_data %}

                        <div class="col-md-6 mb-md-0 p-md-4">
                            <img src="{{c.product_image.url}}" class="w-100 " alt="...">
                        </div>
                        <div class="col-md-6 p-3 ps-md-0">
                            <h5 class="mt-0">{{forloop.counter}}). {{c.product_name|title}}</h5>
                            <p>{{c.product_category.service_name}}</p>
                            <p>{{c.Product_details}}</p>
                            <p>price: {{c.OLD_price}}</p>
                            <p>Sell price: {{c.product_price}}</p>
                            {{c.added_on}} <br>
                            <a href="{% url 'delete'  %}?pid={{c.id}}" class="btn btn-danger link">Delete</a>
                            <a href="{% url 'productedit' %}?pid={{c.id}}" class="btn btn-warning">Edit</a>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <!-- thy?///////////////////////////////// -->
        <div class="row   ">
            <label for="" class="text-center">
                <h3 class="my-5">All Product Category </h3>
            </label>
            <div class="col-md-4 mx-auto bg-light text-dark ">
                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Add category</label>
                        <input type="text" name="category" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Short note</label>
                        <input type="text" name="total" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Image</label>
                        <input type="file" name="pimg" class="form-control">
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <textarea class="form-control" name="desc" placeholder="Leave a imformation here"
                                id="floatingTextarea2" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Description</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-md-6 py-5 mx-auto">
            <h3 class="text-center">Total Category({{data1|length}})</h3>
                <div data-spy="scroll" style="overflow-y: scroll; height:300px; width:auto; position:relative; ">
                    <div class="row g-0 bg-light position-relative">
                        {% for c in data1 %}

                        <div class="col-md-6 mb-md-0 p-md-4">
                            <img src="{{c.image.url}}" class="w-100 " alt="...">
                        </div>
                        <div class="col-md-6 p-3 ps-md-0">
                            <h5 class="mt-0">{{forloop.counter}}). {{c.category|title}}</h5>
                            
                            <p>{{c.desc}}</p>
                            <p>{{c.total}}</p>
                           <p >{{c.added_on}}</p>

                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#m{{c.id}}">
                                Delete
                              </button>
                            <a href="{% url 'update_product' %}?pid={{c.id}}" class="btn btn-warning">Edit</a>
                        </div>
                        <hr>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="m{{c.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Are you sure want to delete</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <h4 class="text-center">{{c.category|title}}</h4>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                <a href="{% url 'update_product' %}?pid={{c.id}}" class="btn btn-warning">Edit</a>
                        
                                <a href="{% url 'emptydelete' %}?pid={{c.id}}" type="button" class="btn btn-primary">Yes Delete</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class=" text-center">
          <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal3">
            Add and Update in website
        </button>
    </div>

    </div>

</div>
<hr>

{% comment %} dfdf {% endcomment %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5>
                 
                <a href="admin/">Click Here</a> For Admin Data Page

            </h5>
        </div>
    </div>
</div>


{% endblock body1 %}