{% extends 'layout.html' %}
{% block body1 %}
   <div class="container-fluid"
    style="background:green;">
    <div class="row py-5" style="background: rgba(0,0,0, 0.5);">
        <div class="col-md-12 text-light text-center font-weight-bold text-uppercase">
           
           <h1>All user in our website ({{user12|length}})</h1>
                  <form class="d-flex" action="{% url 'all_userorder' %}">
        <input  class="form-control "  name="usery" placeholder="Search user " >
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
           
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row py-4">
     {% for i in  user12 %}
    <div class="col-md-4 p-4 abcd">
        <div class="p-1 " style="border: 1px solid gray; ">
            <img src="/media/{{i.image}}" height="200" width="100%">
            <h3 style="color:orange">
            <a href="{% url 'single_user' %}?pid={{i.id}}" style="text-decoration: auto;">{{i.user}}</a>
          
            </h3>
            <h4>
                user full name:<span>  {{i.user.first_name}} {{i.user.last_name}}</span>  
            </h4>
            <h4>
                contact number:<span>  {{i.contact}}</span>  
            </h4>
            <h4>
                address:<span>  {{i.address}}</span>  
            </h4>
        
     
        </div>
    </div>
    {% endfor %} 

    </div>
{% endblock body1 %}