{% extends 'layout.html' %}
{% load static %}
{% block head1 %}
<style>
    .cart td {
        width: 20%;
    }
</style>
{% endblock head1 %}
{% block body1 %}
{% if  items|length == 0 %}
<div class="container-fluid">
    <div class="jumbotron alert alert-danger alert-dismissible">
         YOUR MENU CART IS EMPTY !!!!
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    </div>
</div>
  {% if user is not user.is_authenticated%}
      {% if status %}
      <script>
          alert("{{status}}");
          window.location = "homepage"
      </script>
      {% endif %}
  {% endif %}
<div class="container-fluid "  style="background:url('/static/images/background.jpg');background-size:100% 100%; height:300px;">
  <div class=" text-danger text-center"><cite title="Source Title"><h1 style="padding:71px;-webkit-text-stroke: 3px"> Please Add Item in Your CART</h1><h2  style="-webkit-text-stroke: 3px;color:orange;">( CART IS EMPTY )</h2></cite></div>



</div>

{% else %}
<!-- <div class="container-fluid" style="background:url('/static/images/baby-love-images-and-wallpaper-17.jpg');background-size:100% 100%;"> -->
<div class="container-fluid" style="background:green;">
    <div class="row py-5 " style="background: rgba(0,0,0, 0.5);">
        <div class="col-md-12  text-light text-center font-weight-bold text-uppercase">
            {% if status %}
            <h1>{{status}}</h1>
            {% else %}
            <h1>MY Items menu ({{items|length}})</h1>
            {% endif %}

        </div>
    </div>
</div>
{% if user.is_authenticated %}
<div class="container-fluid ">
    <div class="row ">
        <div class="col-md-9">

            {% if msz %}
      <div class="alert alert-dismissible fade show" role="alert">
            <div class="{{cls}}">{{msz}}</div>
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
            {% endif %}
            <table class="table cart">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Items</th>
                        <th>1  plate price</th>
                        <th>Action</th>
                        

                    </tr>
                </thead>
                <tbody>
                    {% for i in items %}
                    <tr id="row{{i.id}}">
                   
                        <td><img src="/media/{{i.product.product_image}}" style="height: 100px; width:150px;"></td>
                        <td>{{i.product.product_name}}</td>
                        <td><p >{{i.product.product_price}}</p></td>
                        <td><a onclick="remove_cart('{{i.id}}')" href="#" class="btn btn-danger">&times; remove</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="col-md-3 my-5" style="box-shadow: 0px 0px 10px gray;">
            <h2 class="text-center">Checkout</h2>
            <table class="table" style="background: rgba(0,0,0, 0.5);">
                <tr >
                    <DIV class="mx-auto"> 
                        <div class="col-md-12">
                        <form class="form-control mx-auto my-3" action="{% url 'order_page' %}" >
                            <div>
                                <label for="">   Total Price</label>
                            <input type="number" class="form-control" id="text1" name="text1" readonly>
                        </div>
                    <div>
                        <label for="">Enter People</label>
                            <input type="number"  class="form-control" id="text2" name="text2" required>
                        </div>
                            <input class="btn btn-success my-2 mx-auto butten" type="submit" id="b" >
                        </form>
                    </div>
                </DIV>
                </tr>
                <tr>
                   
                    <h1 id="dhom"></h1>  
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    function grandTotal() {
        $.ajax({
            url: "{% url 'get_cart_data' %}",
            type: 'get',
            success: function (data) {
            
                $('#text1').val(data.total)
                         
            
            }
        })

    } grandTotal();
    
    function remove_cart(id) {
        $.ajax({
            url: "{% url 'change_quan' %}",
            data: { delete_cart: id },
            success: function (data) {
                grandTotal();
                $("#row" + id).hide();

            }
        })
    }
      
</script>
<script>
    $(document).ready(function(){
        $('#text2').keyup(function(){
            var up=parseInt($("#text1").val());
            var mp=parseInt($("#text2").val());
   
            
            if(mp>20 & up>0){
                
                $('#b').css("display","");
                $('#dhom').text(up*mp); 
         }else if(mp<20){
           
            $('#b').css("display","none");
            $('#dhom').text("Order more than 20 Quntity");
         }else if(up>0){
               
                $('#b').css("display","none");
                $('#dhom').text("Order more than 20 Quntity");
         }else if(up<="0"){
              
                $('#b').css("display","none");
                $('#dhom').text("Complimentry with Food ");
            
         }else{
                console.log("by");
                
            }

         
        });
    });
      </script>

{% endif %}
{% endif %}
{% endblock body1 %}