{% extends 'layout.html' %}
{% load static %}
{% block body1 %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto my-5">
            <div class="card">
                <div class="text-center card">
                    <img src="{% static 'images/success.png' %}" class="img-fluid" alt="" style="height:400px;">
                </div>
                <div>
                    <p class="card-text">
                        <h1 class="text-center">PAYMENT SUCCESS</h1>
                    </p>
                </div>
                  <div  class="card">
            <a href="{% url 'order_history'  %}" class="btn btn-success btn-lg">Order History</a>
           </p> <a href="{% url 'homepage'  %}" class="btn btn-primary btn-lg">Home</a></p>
        </div>
            </div>
        </div>
    </div>
</div>
{% endblock body1 %}

