{% extends 'base.html' %}
{% block head %}
<style>
    form .row{
        margin-top:2%;
    }
</style>
{% endblock head %}
{% load static %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 my-5 mx-auto">
            <div class="card"> 
                <div class="card-header">
                    <h3 class="mx-auto text-center">EDIT PRODUCT</h3>
                </div>
                <div class="card-body"> 
                    <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                <img src="{{product.cover_pic.url}}" style="height: 200px; width:40%;">

                                </div>
                                <label class="mt-3">update Image:</label>
                                <input type="file" class="form-control" name="pimg">
                            </div>
                            <div class="row">
                            <div class="col-md-6 ">
                                <label for="">Product Name</label>
                            </div>
                            <div class="col-md-12 ">
                                <input type="text" class="form-control" name="pname" value="{{product.cat_name}}">
                            </div>
                        </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-6 ">
                                <label for="">details</label>
                            </div>
                            <div class="col-md-12 ">
                                <textarea name="desc" class="form-control" rows="5">{{product.description}}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            
                            
                            <div class="col-md-6 ">
                                <a href="{% url 'adminpage' %}" class="btn btn-warning ">GO BACK</a>
                            <input type="submit" class="btn btn-success " value="SAVE CHANGES">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location="edit?pid={{id}}";
</script>
{% endif %}
{% endblock  %}