
{% extends 'layout.html' %}
{% load static %}
{% block head1 %}
<title>my profile</title>
{% endblock head1 %}
{% block body1 %}
<div class="container">
    <div class="row ">
       
        <div class="col-md-12 my-2  bg-light bg-gradient text-center"
            style="height: 100px;">
            <h1 class="navbar-text">

<a href="{% url 'change_password' %} " class="btn btn-danger btn-lg" disabled>CHANGE PASSWORD</a>&gt; Edit Profile

            </h1>
        </div>
        <div class="col-md-6 my-2 mx-auto bg-secondary bg-gradient">
            <div class="text-center">
             
                <figure class="figure">
                    {% if data.image %}
                    <img src="/media/{{data.image}}" class="figure-img img-fluid rounded" alt="..."  style="height: 450px;width: 600px;">
                    {% else %}
                    <img src="{% static 'images/1.jpg' %}" class="figure-img img-fluid rounded" alt="...">
                    {% endif %}
                  </figure>
            </div>
            <h5>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 ">
                            <label form="">First Name</label>
                            <input type="text" class="form-control" placeholder="enter full Name" name="fname"
                                value="{{user.first_name}}">
                        </div>
                        <div class="col-md-6">
                            <label form="">last Name</label>
                            <input type="text" class="form-control" placeholder="enter full Name" name="lname"
                                value="{{user.last_name}}">
                        </div>
                        <div class="col-md-6">
                            <label form="">Email</label>
                            <input type="email" class="form-control" placeholder="enter email id" name="email"
                                value="{{user.email}}">
                        </div>
                        <div class="col-md-6">
                            <label form="">Profile picture</label>
                            <input type="file" class="form-control" name="image">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label form="">Contact</label>
                            <input type="number" class="form-control" placeholder="Enter contact number"
                            pattern="[0-9]{10}" title="number must contain 10 digits only" name="contact"
                                value="{{data.contact}}">
                        </div>
                        <div class="col-md-6">
                            <label form="">Age(in years)</label>
                            <input type="number" class="form-control" min="15" max="99" placeholder="Enter age"
                                name="age" value="{{data.age}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">

                        <div class="col-md-6">
                            <label form="">State</label>
                            <input type="text" class="form-control" placeholder="Enter State" name="state" value="{{data.state}}">
                        </div>
                        <div class="col-md-6">
                            <label form="">pincode</label>
                            <input type="number" class="form-control" name="pincode" placeholder="Enter home pincode" value="{{data.pincode}}">
                        </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label form="">City</label>
                                <input type="text" class="form-control" placeholder="Enter City" name="city"
                                    value="{{data.city}}">
                            </div>
                            <div class="col-md-6">
                                <label form="">Gender</label>
                                <select name="gender" class="form-control">
                                    <option value="Male">Male</option>
                                    {% if data.gender == "Female" %}
                                    <option value="Female" selected>Female</option>
                                    {% else %}
                                    <option value="Female">Female</option>
                                    {% endif %}
                                    {% if data.gender == "Other" %}
                                    <option value="Other" selected>Others</option>
                                    {% else %}
                                    <option value="Other">Others</option>
                                    {% endif %}

                                </select>
                            </div>
                        </div>
                     
                        <div class="form-group">
                            <label for="">Address</label>
                            <textarea class="form-control" placeholder="Write your full Address"
                                name="about">{{data.address}}</textarea>
                        </div>
                        <div class="form-group my-2">
                            <input type="submit" name="changeprofile" value="Save Changes" class="btn btn-primary"
                                style="width:50%;border: redius 20px;">
                        </div>


                    </div>


                </div>
            </form>
            </h5>
        </div>
    </div>
            </br>
</div>
 {% if status %}
    <script>
        alert("{{status}}");
        window.location = "edit_profile"
    </script>
    {% endif %}
{% endblock body1 %}