{% extends 'layout.html' %}
{% load static %}
{% block body1 %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Event Of Catress</a>
      <form class="d-flex" method="POST" action="{% url 'gallerypage' %}">{% csrf_token %}
        <input name="searched" class="form-control "  type="search" placeholder="Search gallery Image " >
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <form class="d-flex">
        <div class="dropdown">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Gallery Events
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item"  href="{% url 'gallerypage' %}">Add view in one</a></li>
                {% for g in gallery %}
              <li><a class="dropdown-item" href="{% url 'gallerypage' %}?gid={{g.id}}" >{{g.cat_name}}</a></li>
              {% endfor %}
              <!-- {% for c in gallery %}
              <option value="{{c.id}}">{{c.cat_name}}</option>
              {% endfor %} -->
            </ul>
          </div>
      </form>
    </div>
  </nav>
<section class="my-5 pt-5">
    <div class="text-center">
    {% if searched %}
    <h1>Gallery ({{gallery1|length}})  </h1><br>
    
    {% else %}
        <h1 class="display-4">Gallery ({{gallery1|length}}) </h1>
        {% endif %}
        <hr class="w-25 mx-auto">
    </div>
    <div class="container">
        <div class="row">
            {% for i in gallery1 %}
            <div class="col-md-4 col-10 col-xxl-4 mx-auto p-4 abcd  " >
                                    <a href="{% url 'single_gallery' %}?pid={{i.id}}" style="border:none"> 
                <figure class="shadow p-3 mb-5 bg-body rounded">
                  
                    <img src="{{i.image.url}}" alt=""  height="200" width="100%">
                    <h3 data-spy="scroll"  data-offset="0" style="overflow-y: scroll; height: 100px; position:relative;">{{i.detail}}</h3>
                </figure>
                                               
                                      </a>
                                
            </div>
            {% endfor %}
        </div>
    </div>
</section>



{% endblock body1 %}