{% extends 'base.html' %}
{% block head %}
<style>
  body{
    background:url('/static/images/bk1.jpg ');background-size:100% 100%;
  }
    
  h1 {
        font-family: cursive;
        color: red;

    }

    .myimg {
        height: 300px;
    }

    .box:hover {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        text-align: justify;

    }
</style>
{% endblock head %}
{% block body %}
<div class="container">
  <form class="d-flex" method="POST" action="{% url 'gallerypage' %}">{% csrf_token %}
    <input class="form-control me-2" name="searched" type="search" placeholder="Search gallery Image where we do the event " aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
<br>
</div>

<div class="container col-md-6 mt-5" style="background-color:lightgreen;">
  <br>
  <div>
    REGISTER NEW MEMBER</div>
<h4>
  <!-- Content here -->
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3" >
      <div class="row">
        <div class="col-md-6">
          <label form="">First Name</label>
          <input type="text" class="form-control" placeholder="First Name" name="first" required>
        </div>
        <div class="col-md-6">
          <label form="">Last Name</label>
          <input type="text" class="form-control" placeholder="last Name" name="last" required>
        </div>

      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <div class="floated-controls">
        <label style="display:inline-block;width:100px;">I Am </label>

        <select name="gender" class="form-control">
          <option value="Male">Male</option>
          {% if gender == "Female" %}
          <option value="Female" selected>Female</option>
          {% else %}
          <option value="Female">Female</option>
          {% endif %}
          {% if gender == "Other" %}
          <option value="Other" selected>Others</option>
          {% else %}
          <option value="Other">Others</option>
          {% endif %}

        </select>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputContact1" class="form-label">Contact number</label>
      <input type="text" name="contact" class="form-control"  pattern="[7-9]{1}[0-9]{9}"  required>
    </div>
    <div class="mb-3">
      <label form="">Profile picture</label>
      <input type="file" class="form-control" name="image" required>

    </div>
    <div class="form-group">
      <p id="result"></p>
    </div>
    <div class="mb-3">

      <lable from="">Username</lable>
      <input type="text" class="form-control" placeholder="Enter Username" name="uname" id="username"
        onkeyup="checkuser()" required>


    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
         <input type="password" name="Password" minlength="8" class="form-control" id="typepass" required>
       <input type="checkbox" onclick="Toggle()">Show Password
    </div>

    <button type="submit" class="btn btn-primary my-2 btn-lg" id="submitbtn">Submit</button>
  </form>
  </h4>
</div>
<div class="container" style="background:white">
<div class="col-md-6">
     <h4>If you want a job in the catring services <span>
   <a href="{% url 'new' %}" class=" py-2">click here</a>
   </span></h4>
   </div>
   </div>
<br>
   <div>
   </div>
    <script>
      function checkuser() {
        let un = document.getElementById("username").value;
        $.ajax({
          url: "{% url 'check_user' %}",
          type: "get",
          data: { usern: un },
          success: function (data) {
            if (data == "Exists") {
              $("#result").html("This username already taken").addClass("text-danger");
              $("#username").addClass("alert alert-danger");
              $("#submitbtn").attr("disabled", "disabled");

            } else {
              $("#result").html("");
              $("#username").removeClass("alert alert-danger")
              $("#submitbtn").removeAttr("disabled");



            }
          }
        })
      }
    </script>
    {% if status %}
    <script>
        alert("{{status}}");
        window.location = "/"
    </script>
    {% endif %}
        <script>
    // Change the type of input to password or text
        function Toggle() {
            var temp = document.getElementById("typepass");
            if (temp.type === "password") {
                temp.type = "text";
            }
            else {
                temp.type = "password";
            }
        }
</script>
    {% endblock body %}