{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>homepage</title>
<style>
body{
  background:url('/static/images/bk1.jpg ');background-size:100% 100%;
}

   
    h1 {
                color: black;

    }

    .myimg {
        height: 500px;
    }

    .box:hover {
        height: 100%;
        width: 100%;
        background: transperent;
        color: white;
        text-align: center;
        

    }
</style>
{% endblock head %}
{% block body %}
<div class="container-fluid">
  {% comment %} djfkdfjkdfj crouser {% endcomment %}
 <div class="container-fluid ">
      <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/ev2.jpg' %}" class="d-block w-100" style="width: 100%;height: 50vh;" alt="...">
            <div class="carousel-caption  d-md-block" style="background-color:transperent;">
             <bold> <h3 style="color:black;">“Royal Occasions.” </h3></bold>
              <h4 style="color:black;">“Productivity is never an accident. ...</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/ev1.jpg' %}"  style="width: 100%;height: 50vh;" class="d-block w-100" alt="...">
            <div class="carousel-caption  d-md-block" style="background-color:transperent;">
              <h3 style="color:white;"> “Royal Occasions.” </h3>
              <h4 style="color:white;"> “A goal without a plan is just a wish.” ....</h4>
            </div>
          </div>
        
          <div class="carousel-item">
            <img src="{% static 'images/ev3.jpg' %}"  style="width: 100%;height: 50vh;" class="d-block w-100" alt="...">
            <div class="carousel-caption  d-md-block" style="background-color:transperent;">
              <h3 style="color:black;">“Royal Occasions.” </h3>
              <h4 style="color:black;">"Some people look for a beautiful place. ....</h4>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  {% comment %} sdfhhdskfhdskfhksdfh end crouser{% endcomment %}
    <div class="row my-3">
          <form class="d-flex" action="{% url 'product' %}">
        <input  class="form-control "  name="qry" placeholder="Search menu Items " >
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <div class="row my-5">
        <div class="col-md-12 text-left">
            <h1 style="background:transperent;">Our Categories</h1>
        </div>
        {% for c in category %}
        <div class="col-md-6 py-4 text-center">
            <div
                style="box-shadow:0px 0px 10px rgb(240, 236, 236); background:url('/media/{{c.image}}');background-size:100% 100%;">

               <a href="{% url 'product' %}?cat={{c.id}}" style="text-decoration:auto;color:black">
                <div class="box" style="height:300px;">
                    <h2 >{{c.category}}</h2>
                   
                </div>
               </a>
              
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="row">
        <div class="col-md-12 text-center">
        
            <h1 style="color:green;text-shadow: 0px 0px 10px Yellow;">Free Free Free Event Setup Free Free Free </h1>
        </div>
        {% for d in gallery %}
         <a  href="{% url 'gallerypage' %}?gid={{d.id}}" style=" text-decoration:auto; ">
        <div class="col-md-12 mx-auto py-4 text-center">
            <div
                style="box-shadow:0px 0px 10px rgb(243, 239, 239); background:url('/media/{{d.cover_pic}}');background-size:100% 100%; height:800px;width:100%;">

              
                <div class="box" style="height:200px;">
                    <h2 style="color:white;">{{d.cat_name|title}}</h2>
                    <p style="color:white;">{{d.description}}</p>
                </div>
          
              
            </div>
        </div>     </a>
        {% endfor %}

    </div>


</div>
</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location = "/"
</script>
{% endif %}
{% endblock body %}