{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    
    <style>
    body{
       background:url('/static/images/bk2.jpg ');background-size:100% 100%;
    }
.abcd:hover{
    box-shadow: 0px 0px 10px gray;padding: 10px;
}
</style>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
{% comment %} <link href="{% static '/js/jquery-ui.css' %}"> {% endcomment %}

 <script src="{% static '/js/jqueryajax.js' %}"></script>
 {% block head1 %}{% endblock head1 %}
  </head>
  <body>
  <h3>
<nav class="navbar navbar-expand-lg navbar-light " style="background-color:transperent;">
  <div class="container-fluid">
 
    <a class="navbar-brand" href="{% url 'homepage' %}">
     {% if  user.is_superuser %}
     :)
       {% else %}
               <img src="{% static 'images/shantabai.png' %}" alt="" style="height:100%; width:120px;">
        {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'adminpage' %}">Home</a>
        </li>
        {% if  user.is_superuser %}
         <li class="nav-item">
          <a class="nav-link" href="{% url 'sendemail' %}">Send Email</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'my_cust' %}">Customer </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'all_userorder' %}">All User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'orderbook' %}">Customer Order History</a>
        </li>
        {% endif %}
     
     

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Gallery
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
        <li class="nav-item">
          
        </li>
            {% for g in gallery %}
            <li><a class="dropdown-item" href="{% url 'gallerypage' %}?gid={{g.id}}">{{g.cat_name}}</a></li>
            {% endfor %}
  
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         Categories
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li class="nav-item">
          <a class="dropdown-item" href="{% url 'product' %}">All Menu</a>
        </li>
          {% for c in data1 %}

            <li><a class="dropdown-item" href="{% url 'product' %}?cat={{c.id}}">{{c.category}}</a></li>
            {% endfor %}
        </ul>
      </li>
    
          {% if user.is_authenticated%}
                        {% if user.is_superuser %}
{% else %}
            <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'cart' %}">Cart</a>
        </li>
       {% endif %}
        {% endif %}
           {% if  user.is_superuser %}
       {% else %}
               <li class="nav-item">
          <a class="nav-link "  href="{% url 'order_history' %}">Order History</a>
        </li>
          {% if user.is_authenticated%}
            {% else %}
                <li class="nav-item">
       <a class="nav-link" href="{% url 'home' %}">Signup</a>
        </li>
        {% endif %}
                <li class="nav-item">
       <a class="nav-link" href="{% url 'about' %}">About Us</a>
        </li>
        {% endif %}
      </ul>
                    {% if user.is_authenticated%}
      
      <form class="d-flex">
                         {% if user.is_superuser %}
                          
                        <a href="{% url 'change_password' %}" class="nav-link " style="color:black;">
                          {% if data.image %}
                        <img src="/media/{{data.image}}" style="height: 50px;width: 50px;border-radius:50%;">
                        {% else %}
                         <img src="{% static 'images/admin1.jpg' %}"
                            style="height: 50px;width: 50px;border-radius:50%;"> 
                           {% endif %}{{user.username}} </a>
                        {% else %}
                          
                        <a href="{% url 'edit_profile' %}" class="nav-link " style="color:black;">
                          {% if data.image %}
                        <img src="/media/{{data.image}}" style="height: 50px;width: 50px;border-radius:50%;">
                        {% else %}
                         <img src="{% static 'images/admin1.jpg' %}"
                            style="height: 50px;width: 50px;border-radius:50%;"> 
                           {% endif %}{{user.username}} </a>
                        
                        {% endif %}
                        <div>
                        <a style="height: auto; width:100%;border:100%;" href="{% url 'user_logout' %}" class="btn btn-outline-success btn-lg">Logout</a>
                      </div>
      </form>
      {% else %}
      <form class="d-flex">
       
        <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
      </form>
      {% endif %}
    </div>
  </div>
</nav>
</h3>
{% comment %} <!nev close> {% endcomment %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'user_login' %}" method="POST">
                                {% csrf_token %}
                                    <div class="form-group">
                                        <label>Username</label>
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
                                                <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z"/>
                                              </svg>
                                            </span>
                                        </div>
                                            <input type="text" name="username" class="form-control" placeholder="enter username">
                                        
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <div class="input-group">

                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                  <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-shield-lock-fill" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5z"/>
                                                  </svg>
                                                </span>
                                            </div>
                                            <input type="password" name="password" class="form-control" placeholder="enter a passoword" id="myInput">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" onclick="myFunctionasr()">
                                        <label for="">Show Password</label>
                                        {% comment %} <a href="{% url 'forgotpass' %}">Forgot Password?</a> {% endcomment %}
                                    </div>
                                        <div class="form-group">
                                            <input type="submit" value="submit" class="btn btn-success">
                                            <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">Close</button>
                                        </div>
                                </form>
      </div>
      <div class="modal-footer">
        We are provide best service
      </div>
    </div>
  </div>
</div>
{% block body1 %}{% endblock body1 %}
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
     <script>
    function myFunctionasr() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
    </script>
  </body>
</html> 