{% extends 'layout.html' %}
{% load static %}
{% block head1 %}
<title>Customer History Page</title>

{% endblock head1 %}
{% block body1 %}
<div class="container-fluid">
  <!-- Content here -->
  <div class="text-center my-5 bg-dark text-white py-3 ">My Customer  ({{customers|length}})</div>
  <div class="container">
  <!-- Content here -->
<div class="row py-2 mx-auto ">
   {% for i in customers %}
  <div class="card mx-2 my-3  abcd" style="width: 18rem;">
      {% if i.image %}
                <img src="/media/{{i.image}}" style="height: 200px; width:100%;">
                {% else %}
                 <img src="{% static 'images/1.png' %}" style="height: 200px; width:100%;"> 
                   {% endif %}
  <div class="card-body">
    <p class="card-text">  
    <h4>{{i.first_name}}  {{i.last_name}}</h4>
                <p>{{i.username}}</p>
                <p><em>{{i.email}}</em></p>
                <p><ins>{{i.contact}}</ins></p>
                <p><ins>{{i.city}}</ins></p>
               
                  
                  </p>
  </div>
</div>
    {% endfor %}
</div>
</div>
</div>
{% endblock body1 %}
