{% extends 'base.html' %}
{% block head %}
<style>
  body{
    background:url('/static/images/bk1.jpg ');background-size:100% 100%;
  }
</style>
{% endblock head %}
{% block body %}

<div class="container col-md-6   mt-5" style="background-color:Tomato;">
  <br>
  <div>
    <h3>REGISTER NEW FOR SERVICE JOB</h3></div>
  <br>
  <h4>
  <!-- Content here -->
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <div class="row">
        <div class="col-md-6">
          <label form="">First Name</label>
          <input type="text" class="form-control" placeholder="First Name" name="first" required>
        </div>
        <div class="col-md-6">
          <label form="">Last Name</label>
          <input type="text" class="form-control" placeholder="last Name" name="last" required>
        </div>

      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <div class="floated-controls">
        <label style="display:inline-block;width:100px;">I am </label>

        <select name="gender" class="form-control">
          <option value="Male">Male</option>
          {% if gender == "Female" %}
          <option value="Female" selected>Female</option>
          {% else %}
          <option value="Female">Female</option>
          {% endif %}
          {% if gender == "Other" %}
          <option value="Other" selected>Others</option>
          {% else %}
          <option value="Other">Others</option>
          {% endif %}

        </select>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputContact1" class="form-label">Contact number</label>
      <input type="number" name="contact"  pattern="[1-9]{1}[0-9]{9}" title="enter 10 digit mobile number" class="form-control" required>
    </div>
    <div class="mb-3">
      <label form="">Profile picture</label>
      <input type="file" class="form-control" name="profile_image" required>

    </div>
    <div class="form-group">
      <p id="result"></p>
    </div>
    <div class="mb-3">

      <lable from="">Username</lable>
      <input type="text" class="form-control" placeholder="Enter Username" name="uname" id="username"
        onkeyup="checkuser()">


    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="Password" minlength="8" class="form-control" id="typepass" required>
       <input type="checkbox" onclick="Toggle()">
    <b>Show Password</b>
    </div>
  
    <div class="mb-3 form-floating">
      <textarea class="form-control" name="address" placeholder="Leave a address here" id="floatingTextarea2" style="height: 100px" required></textarea>
      <label for="floatingTextarea2">Address</label>
    </div>
    <div class="mb-3">
      <label for="exampleInputcity" class="form-label">City</label>
      <input  name="city" class="form-control" id="exampleInputcity" required >
    </div>
    <div class="mb-3">
      <label for="exampleInputdate" class="form-label">Date of Barth</label>
      <input type="date" name="dob" class="form-control" id="exampleInputdate" required>
  
    <div class="mb-3">
      <label for="exampleInputservice_name" class="form-label">Service Name</label>
      <input type="text" name="service_name" class="form-control" id="exampleInputservice_name" placeholder="Service Name"  required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPROOF" class="form-label">Add proof</label>
      <input type="file" name="image" class="form-control" id="exampleInputimage"  required>
    </div>
    <div class="mb-3">
      <label for="exampleInputexperiance" class="form-label">Experiance</label>
      <input type="text" name="experience" class="form-control" id="exampleInputexperience"  required>
    </div>
  

    <button type="submit" class="btn btn-primary" id="submitbtn">Submit</button>
  </form>
  </h4>
</div>
<script>
  function checkuser() {
    let un = document.getElementById("username").value;
    $.ajax({
      url: "{% url 'check_user' %}",
      type: "get",
      data: { usern: un },
      success: function (data) {
        if (data == "Exists") {
          $("#result").html("This username already taken").addClass("text-yellow");
          $("#username").addClass("alert alert-danger");
          $("#submitbtn").attr("disabled", "disabled");

        } else {
          $("#result").html("");
          $("#username").removeClass("alert alert-danger")
          $("#submitbtn").removeAttr("disabled");



        }
      }
    })
  }
</script>
  {% if status %}
    <script>
        alert("{{status}}");
        window.location = "/"
    </script>
    {% endif %}
    <script>
    // Change the type of input to password or text
        function Toggle() {
            var temp = document.getElementById("typepass");
            if (temp.type === "password") {
                temp.type = "text";
            }
            else {
                temp.type = "password";
            }
        }
</script>
{% endblock body %}