{% extends 'layout.html' %}
{% load static %}

{% block body1 %}
{% if order_history|length == 0 %} {% else %}
{% comment %} skdfjldsfjslkdf {% endcomment %}

{% comment %} ggjgjhgjhg {% endcomment %}
<div class="container-fluid my-4 " style="color:red;background-color:black;">
  <!-- Content here -->
  <figure class="text-center">
    <blockquote class="blockquote">
      <h1> Customer Order History </h1>
    </blockquote>
    <figcaption class="blockquote-footer">
    
    <H3>  TOTAL ORDERS <cite title="Source Title">({{order_history|length}})</cite></H3>
     

  </figure>
</div>
<div class="container-fluid  ">
     {% for i in order_history %}
     {% if i.status  %}
  <div class="row my-5 p-4  abcd">
    <div class="col-md-4 py-2 ">
      {% for j in i.address %}
     <div class="alert alert-warning alert-dismissible fade show" role="alert">
     <strong><span style="color:blue;"><h5>USER:  {{j.user.username}}</h5></span> </strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="card mx-auto" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-center">({{i.order_id}})</h5>
    <h5 class="card-title text-center">Address</h5>
    <h5 class="card-title text-center">price: &#8377; {{j.totalprice}}</h5>
    <p class="card-text ">     
      <table class="table table-dark table-hover table-responsive">
        <thead>
        </thead>
        <tbody>
          <tr>
            <th >NAME:</th>
            <td scope="row">{{j.Name}}</td>
          </tr>
          <tr>
            <th >CONTACT NO:</th>
            <td scope="row">{{j.phone_no}}</td>
          </tr>
          <tr>
            <th >CITY OF EVENT:</th>
            <td>{{j.event_type}}</td>
          </tr>
          <tr>
            <th >DAY O EVENT:</th>
            <td>{{j.Time_of_date}}</td>
          </tr>
          <tr>
            <th >THE EVENT TIME:</th>
            <td>{{j.Time_of_event}}</td>
          </tr>
          <tr>
            <th>ADDRESS:</th>
            <td>{{j.description}} </td>
            
             {% if j.status %}
             {% else %}

                           <div class="card">  <a href="{% url 'acceptorder' %}?pid={{j.id}}" type="button" class="btn btn-primary btn-lg">Yes Accept</a></div>  
                           <div class="card">  <a href="{% url 'cancleorder' %}?vpid={{i.order_id}}" type="button" class="btn btn-danger btn-lg">CANCEL </a></div>  
 
                              
          {% endif %}



          </tr>
        </tbody>
      </table>
      <div class="d-grid gap-2 col-6 mx-auto">
    <button type="button" class="btn btn-primary " disabled>price: &#8377; {{j.totalprice}}</button>
  </div>
  </div>
</div>
{% endfor %}
    </div>
    <div class="col-md-8">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>BOOKED MENUS! order id: ({{i.order_id}}) </strong> <strong><span style="color:blue;text-shadow: 0px 0px 10px gray;padding: 10px;"><h3>Booked On: {{i.date}} </h3></span> </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
   <div class="row py-2 mx-auto ">
   {% for k in i.products %}
  <div class="card mx-2 my-3 p-4 abcd" style="width: 18rem;">
  <a href="{% url 'single_product' %}?pid={{k.id}}" style="color:black; text-decoration: auto;"> <img src="/media/{{k.product_image}}" style="height: 200px; width:100%;">
  <div class="card-body">
    <p class="card-text">  
     <h5>{{k.product_name}}</h5><br>
                  <h5>&#8377;{{k.product_price}}</h5> 
                  </p>
  </div>
  </a>
</div>
    {% endfor %}
        {% if i.status  %}
        {% for j in i.address %}
        {% if j.status %}
        <button type="button" class="btn btn-primary btn-lg" disabled>SUCCESS</button>
        {% else %}        
        <button type="button" class="btn btn-warning btn-lg" disabled>PENDING</button>
        {% endif %}
     {% endfor %}
{% endif %}
</div>
    </div>
  </div>

{% endif %}
{% endfor %}
</div>

{% endif %}


{% endblock %}