{% extends 'layout.html' %}

{% load static %}
{% block body1 %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 <script>
    $(document).ready(function () {
        $("#datepicker").datepicker({ minDate: -0,dateFormat:"dd-mm-yy",changeMonth:true,changeYear:true,});
    });
</script> 
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">


<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

<script>
    $(document).ready(function(){
       
        $('#time').timepicker({
            timeFormat: 'h:mm p',
            interval: 60,
           // minTime: '1',
            //maxTime: '12:00pm',
           // startTime: '12:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });
     
    });
</script>
{% if items|length == 0 %} 
<div class="container-fluid">
    <div class="jumbotron alert alert-danger alert-dismissible">
         YOUR MENU CART IS EMPTY !!!!
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    </div>
</div>
<div class="container-fluid">
  <div class="p-3 mb-2 bg-transparent text-black shadow my-5 text-center"><cite title="Source Title"><h1>Catress web Profile</h1></cite></div>
<div class="p-1 mb-1 text-center">This is our web Profile</div>
<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
     <div class="card p-3 border bg-light">
      <figure class="figure abcd">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12904.298963376876!2d79.34424148094122!3d19.78642759279016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd2cd1a535b1cbd%3A0x4a5312095c57d822!2sRampur%2C%20Maharashtra%20442905!5e0!3m2!1sen!2sin!4v1626084705535!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <figcaption class="figure-caption text-end">this is our catress store location -9175474716</figcaption>
      </figure>
     </div>
    </div>
    <div class="col">
      <div class="card p-3 my-5 border bg-light">
        <figure class="figure abcd">
          <img src="{% static 'images/23.jpg' %}" class="figure-img img-fluid rounded" alt="..." >
          <figcaption class="figure-caption text-center"><h1>Employee of the year.</h1></figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3 my-3 border bg-light">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>we provied a all type of catress services.</p>
          <footer class="blockquote-footer">over staff is good <cite title="Source Title">and we proud each other <h1>if any query   call us: 9175474716</h1> </cite></footer>
        </blockquote>
      </div>
     </div>
    </div>
   
  </div>
</div>
</div>

{% else %}
<script>
    $(document).ready(function(){
        a=$("#kaka").val();
        b=$("#address").val();
        if(a>"0"){
        }else{
           
            $("#sura").css("display","none");
            $("#sumo").css("display","none");
            $("#ira").text("Your Order is Not Correct.");
            $("#ira1").text("Your Order is Not Correct.");
        }
    })
</script>

<div class="container my-4" style="color:red;background-color:black;">
    <!-- Content here -->
    <figure class="text-center" >
        <blockquote class="blockquote">
            <h1 >Checkout Page</h1>
        </blockquote>
        <figcaption class="blockquote-footer" >
            Please Check and Add  <cite title="Source Title">Your Detail</cite>
            <h3>Email-id:vaibhavClass90@gmail.com <cite title="Source Title">Contact us: 9960859170.</cite></h3>
        
    </figure>
</div>
<div class="container">
<h1 id="sumo">Total Menu Price:{{result}}</h1>
<h1 id="ira1"></h1>
    <div class="card mb-6">
        <div class="row g-0">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">No.({{items|length}})</th>
                            <th scope="col">Menus</th>
                            <th scope="col">Your Added Menu Name</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                     {% for i in items %}
                        <tr>
                            <th scope="row">{{forloop.counter}}).</th>
                            <td><img src="/media/{{i.product.product_image}}" class="rounded float-start" alt="..."
                                    style="height:100px; width:200px"></td>
                            <td><h3>{{i.product.product_name}}</h3></td>
                           
                        </tr>
                         {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <div class="col-md-12">
                        <div>
                               <form class="form-control" action="{% url 'order_page' %}" method="POST">{% csrf_token %}
                                <div class="mb-3">
                                    <label for="">NAME</label>
                                    <input type="text" name="name" class="form-control" placeholder="Name" value="{{request.user.first_name}}   {{request.user.last_name}}" required>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="">MOBILE NO.</label>
                                    <input type="text" name="number" class="form-control"  pattern="[7-9]{1}[0-9]{9}" placeholder="phone No" value="{{data.contact}}"  required>

                                </div>
                                
                                <div class="mb-3">
                                    <label for="">SELECT THE CITY</label>
                                    <select class="form-control" name="event" id="re" required>
                                        {% for c in cats %}
                                        <option value="{{c.id}}">{{c.city}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="">SELECT THE EVENT TIME</label>
                                    <input type="text" name="time" id="time" class="form-control "
                                    placeholder="Time of Event (ex 7:00pm-9:00pm)" required>
                                </div>
                                <div class="mb-3" >
                                    <label for="">SELECT THE DATE</label>
                                    <input type="text" name="date" class="form-control" id="datepicker" placeholder="Select Date" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">WRITE HERE YOUR FULL ADDRESS</label>
                                    <textarea name="query" class="form-control" id="address"
                                    rows="3" placeholder="Write Your ADDRESS here" required>{{data.address}}</textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="">YOUR TOTAL PRICE</label>
                                    <input type="index" value="{{result}}" name="kaka" id="kaka" class="form-control" readonly>
                                </div>
                                <button class="btn btn-success btn-lg" id="sura">PROCESS TO PAY ({{result}})</button>
                                <h1 id="ira"></h1>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}