{% extends 'layout.html' %}
{% load static %}
{% block head1 %}
<title>Order History Page</title>
{% endblock head1 %}
{% block body1 %}
{% if order_history|length == 0 %} 
  {% if status %}
      <script>
          alert("{{status}}");
          window.location = "homepage"
      </script>
      {% endif %}
<div class="container-fluid">
  <div class="p-3 mb-2 bg-transparent text-black shadow my-5 text-center"><cite title="Source Title"><h1>Please Order Something in Our Website</h1><p>(ORDER HISTORY EMPTY)</p></cite></div>
<div class="p-1 mb-1 text-center">This is our web Profile</div>
</div>

{% else %}

<div class="container-fluid">
  <div class="container-fluid my-4 " style="color:black;background-color:light;">
    <!-- Content here -->
    <figure class="text-center">
      <blockquote class="blockquote">
        <h1> Order History </h1>
      </blockquote>
      <figcaption class="blockquote-footer">
        Please Check and Add <cite title="Source Title">Your Detail</cite>
        <h3>Contact Mail:- vaibhavclass90@gmail.com <cite title="Source Title">rampur/rajura 442905, 9175474716.</cite></h3>
  
    </figure>
  </div>
  {% for i in order_history %}
  {% if i.products|length == 0 %} 
   {% else %}
  <div class="container py-2 ">
    <!-- Content here -->
 
  <div class="row p-4 abcd">
  <div class="col-md-4 mx-auto ">
    {% for k in i.products %}
    <div class="col-md-4 p-4 abcd  ">
    <div class="card  p-1" style="width: 18rem;">
     
     <a href="{% url 'single_product' %}?pid={{k.id}}">
       <img src="/media/{{k.product_image}}" class="mx-auto" style="height: 200px;width:100%;">
      </a> 
    
      <div class="card-body text-center">
        <p class="card-text">
          <h5>{{k.product_name}}</h5><br>
          <h5>&#8377;{{k.product_price}}</h5>
        </p>
      </div>
    </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-md-6 mx-auto" >
    <h3 class="text-center">Processed On:{{i.date}} </h3><br>
    <h6>Invoice:{{i.invoice}}</h6>
   <div class="col-md-12">
    {% for j in i.address %}    
    <form action="" class="form-control p-4 abcd"> 
     <h5>NAME: <label for="" class="form-control"> {{j.Name}}</label></h5>
                  <h5>CONTACT NO: <label for="" class="form-control">{{j.phone_no}}</label></h5>
                  <h5>CITY :<label for="" class="form-control"> {{j.event_type}}</label></h5>
                  <h5>TIME OF EVENT :<label for="" class="form-control">{{j.Time_of_event}}</label></h5>
                  <h5>DATE OF EVENT :<label for="" class="form-control">{{j.Time_of_date}}</label></h5>
                  <h5>ADDRESS:<label for="" class="form-control">{{j.description}}</label></h5>
                  <h5>TOTAL PRICE:<label for="" class="form-control">{{j.totalprice}}</label></h5>
                </form>
{% endfor %}

   </div>
  </div>
  <div class="col-md-2">
    {% for j in i.address %} 
    <h1 class="text-center">&#8377; {{j.totalprice}}</h1>
  
{% endfor %}

    <div class="d-grid gap-2">
      {% if i.status  %}
       {% for r in i.address %} 
      {%if r.status %}
    <button type="button" class="btn btn-primary btn-lg" disabled>SUCCESS</button>
    {% else %}
    <button type="button" class="btn btn-warning btn-lg" disabled>PENDING </button>
{% endif %}
{% endfor %}
    {% else %}
<button type="button" class="btn btn-danger btn-lg" disabled>CANCEL</button>

{% endif %}

  </div>
  </div>
</div>
</div>
{% endif %}
{% endfor %}
</div>






{% endif %}
{% endblock %}