{% extends 'base.html' %}{% load static %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto my-3 p-5 text-center" style="box-shadow: 0px 0px 10px gray;">
        <img src="{% static 'images/success.png' %}" height="300" width="300" alt="">
        <br>
        <h1 class="alert alert-success">PAYMENT SUCCESSFULL</h1>
        <div  class="my-3">
            <a href="{% url 'cart'  %}" class="btn btn-success">Continue Shopping</a>
            <a href="{% url 'order_history'  %}" class="btn btn-primary">Go to Dashboard</a>
        </div>
        </div>
    </div>
</div>
{% endblock body %}