{% extends 'layout.html' %}
{% load static %}
{% block head1 %}
<style>
    body{
        background:transparent;
    }
</style>
{%endblock head1%}
{% block body1 %}

   <div class="container-fluid"
    style="background:transperent;">
    <div class="row py-5" >
        <div class="col-md-12 text-black text-center font-weight-bold text-uppercase">
           
           <h1>All Menu Items </h1>
             <div class="col-md-4 my-3">
          <form class="d-flex" action="{% url 'product' %}">
        <input  class="form-control "  name="qry" placeholder="Search menu Items " >
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
           
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row py-4">
     {% for i in  products %}
    <div class="col-md-4 p-4 abcd">
        <div class="p-1 " style="border: 1px solid gray; ">
        <a href="{% url 'single_product' %}?pid={{i.id}}" style="text-decoration: auto;">
            <img src="/media/{{i.product_image}}" height="200" width="100%">
            </a>
            <h3 style="color:orange">
                <a href="{% url 'single_product' %}?pid={{i.id}}" style="text-decoration: auto;">{{i.product_name}}</a>
            </h3>
            <h4>
                current price:<span> <del>&#8377; {{i.OLD_price}}</del></span>  
            </h4>
            <h4>
                offer Price:<span>&#8377; {{i.product_price}}</span>  
            </h4>
        
            <form action="{% url 'cart' %}" method="POST">
            {% csrf_token %}
              <input type="hidden" value="{{i.id}}" name="pid">
              <input type="hidden" value="1" name="qty">
              <div class="card">
                <input type="submit" class="btn btn-warning" value="Add to Cart">
            </div>
            </form>
        </div>
    </div>
    {% endfor %} 

    </div>

{% endblock body1 %}