{% extends 'layout.html' %}
{% block head1 %}
<title>contact page</title>
{% endblock head1 %}
{% load static %}
{% block body1 %}

<div class="container-fluid">
  <div class="p-3 mb-2 bg-transparent text-black shadow my-5 text-center"><cite title="Source Title"><h1>This is Our Contact Page</h1><p>(If Any Query   call us: 9175474716)</p></cite></div>
<div class="p-1 mb-1 text-center">This is our web Profile</div>
<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
     <div class="card p-3 border bg-light">
      <figure class="figure abcd">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12904.298963376876!2d79.34424148094122!3d19.78642759279016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd2cd1a535b1cbd%3A0x4a5312095c57d822!2sRampur%2C%20Maharashtra%20442905!5e0!3m2!1sen!2sin!4v1626084705535!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <figcaption class="figure-caption text-end">this is our catress store location -9175474716</figcaption>
      </figure>
     </div>
    </div>
    <div class="col">
      <div class="card p-3 my-5 border bg-light">
        <figure class="figure abcd">
          <img src="{% static 'images/23.jpg' %}" class="figure-img img-fluid rounded" alt="..." >
          <figcaption class="figure-caption text-center"><h1>Employee of the year.</h1></figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3 my-3 border bg-light">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>we provied a all type of catress services.</p>
          <footer class="blockquote-footer">over staff is good <cite title="Source Title">and we proud each other <h1>if any query   call us: 9175474716</h1> </cite></footer>
        </blockquote>
      </div>
     </div>
    </div>
   
  </div>
</div>
</div>

{% endblock body1 %}