{% extends 'layout.html' %}
{% load static %}
{% block body1 %}
<div class="container">
    <div class="row">
        <div class="col-md-12 my-5 mw-100 text-center   bg-danger bg-gradient shadow-lg   rounded">
            <h1>TO CUSTOMER &gt; Send Email</h1>
        </div>
        <div class="col-md-6  p-3 bg-light my-5 shadow shadow-lg mx-auto">
            {% if message %}
            <div class="alert {{cls}}">{{message}}</div>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">To</label>
                    <input type="text" class="form-control" placeholder="To" name="to">
                </div>
                <div class="form-group">
                    <label for="">Subject</label>
                    <input type="text" class="form-control" placeholder="Subject" name="sub">
                </div>
                <div class="form-group">
                    <label for="">Message</label>
                    <textarea name="msz"  rows="5" placeholder="Enter Your Message" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-outline-primary rounded-pill" value="Send Email">
                </div>
            </form>

        </div>
    </div>
</div>
</div>
{% endblock body1 %}