{% extends 'layout.html' %}
{% block head1 %}
<style>
    th,
    td {
        width: 50%;
    }
</style>
{% endblock head1 %}
{% load static %}
{% block body1 %}

<div class="container-fluid">
    <div class="card mb-3">
        <img src="{{product.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.thegallery}}</h5>
            <h5 class="card-text">
                {{product.detail}}</h5>
            <p class="card-text"><small class="text-muted">{{product.added_on}}</small></p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">Feedback About Event... </h5>
            <p class="card-text">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}}" role="alert">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                <div class="col-md-10 mx-auto bg-light my-2">
                    <form class="review-form" action="/acomment/{{product.id}}" method="POST">{% csrf_token %}
                        <div class="form-group my-2">
                            <input class="input form-control " name="subject" type="text" placeholder="your subject" />
                        </div>
                        <div class="form-group my-2">
                            <textarea name="comment" class="input form-control " placeholder="your review"
                                required></textarea>
                        </div>

                        {% if user.id is not None %}
                        <button class="btn btn-outline-success form-control my-2">submit</button>
                        {% else %}
                        You must be logged in to post a review

                        {% endif %}
                    </form>
                </div>
            <div class="col-md-1 col-md-12 mx-auto my-5 p-5 text-center" style="box-shadow: 0px 0px 10px gray;">
                {% for i in comments %}
                <div class="container-fluid">
                        <div class="row" >
                        <div class="col-md-6" >
                            {% if i.user.Customer.image %}
                            <img src="/media/{{i.user.Customer.image}}"
                            style="height: 50px;width: 30px;border-radius:40%;">
                            {% else %}
                            <img src="{% static 'images/1.jpg' %}"
                            style="height: 50px;width: 50px;border-radius:40%;">
                            {% endif %}
                            <h6>{{i.user.first_name}} {{i.user.last_name}}</h6>
                            <h6>{{i.added_on}}</h6>
                        </div>
                        <div class="col-md-6 text-start">
                                <p>{{i.subject|title}}</p>
                                <div class="review-body text-start">
                                    <p>{{i.comment}}.</p>
                                </div>
                        </div>
                    </div> 
                </div>
                <hr>
                {% endfor %}
            </div>

        </div>
    </div>
    {% endblock body1 %}