{% extends 'layout.html' %}
{% block head1 %}
<style>
    th,
    td {
        width: 50%;
    }
</style>
{% endblock head1 %}
{% load static %}
{% load myfilter %}
{% block body1 %}

<div class="container-fluid">
    <div class="col-md-10 mx-auto my-5">
    <div class="card mb-3">
        <img src="{{user12.image.url}}" class="card-img-top" height="500px"  alt="...">
        <div class="card-body">
            <h1 class="card-title text-center">{{user12.user}}</h1>
            <p class="card-text">  {{user12.address|upper}}</p>     
        <p class="card-text"><small class="text-muted">{{user12.gender}}</small></p>
                {% printdt '%d-%m-%Y %H:%M:%S' %}  
         
        </div>
    </div>
</div>
</div>
    
    {% endblock body1 %}