{% extends 'layout.html' %}
{% block head1 %}
<style>
    th,
    td {
        width: 50%;
    }
</style>
{% endblock head1 %}
{% load static %}
{% block body1 %}

<div class="container-fluid">
    <div class="col-md-10 mx-auto my-5">
    <div class="card mb-3">
        <img src="{{product.product_image.url}}" class="card-img-top" height="500px"  alt="...">
      
        <div class="card-body">
            <form action="{% url 'cart' %}" method="POST">
                {% csrf_token %}
                  <input type="hidden" value="{{product.id}}" name="pid">
                  <input type="hidden" value="1" name="qty">
                <div class="card">
        <input type="submit"  class="btn btn-warning btn-lg" value="ADD">
                </div>
                </form>
            <h1 class="card-title text-center">{{product.product_name}}
            </h1>
            <p class="card-text">
            <form action="">
             
                <textarea name="" id="" cols="30" rows="20" class="form-control" readonly>{{product.Product_details|upper}}</textarea>
            </form>
           </p>
         
        </div>
    </div>
</div>
</div>
    
    {% endblock body1 %}