{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto p-5  " style="height: 500px;">
            <div class="card shadow shadow-lg">
                <div class="card-body">
                    <h4 class="text-danger">Are you sure want to delete</h4>
                    <img src="{{product.product_image.url}}" height="200" width="100%">
                    <h4>{{product.product_name|title}}</h4>
                    <h4>{{product.Product_details|title}}</h4>
                    <div class="mt-4">
                        <a href="{% url 'delete' %}?pid={{product.id}}&&action=confirm"
                            class="btn btn-danger">Confirm Delete</a>
                        <a href="{% url 'adminpage' %}" class="btn btn-warning">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location = "/adminpage"
</script>
{% endif %}
{% endblock body %}