{% extends 'base.html' %}
{% block head %}
<style>
    form .row{
        margin-top:2%;
    }
</style>
{% endblock head %}

{% load static %}
{% block body %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-8 my-5 mx-auto">
            <div class="card"> 
                <div class="card-header">
                    <h3>DASHBOARD &GT; EDIT PRODUCT</h3>
                </div>
                <div class="card-body"> 
                    <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                <img src="/media/{{product.image}}" style="height: 200px; width:40%;">

                                </div>
                                <label class="mt-3">update Image:</label>
                                <input type="file" class="form-control" name="pimg">
                            </div>
                        </div> 
                      
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">Product Price</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="pp" class="form-control" value="{{product.category}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">SeLL Price</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="sp" class="form-control" value="{{product.total}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">details</label>
                            </div>
                            <div class="col-md-6">
                                <textarea name="de" class="form-control" rows="5">{{product.desc}}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                            <input type="submit" class="btn btn-success" value="SAVE CHANGES">
                                <a href="{% url 'adminpage' %}" class="btn btn-warning ">GO BACK</a>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location="update_product?pid={{id}}";
</script>
{% endif %}
{% endblock body %}